.pmContainer{
    display: flex;
}
.plContainer{
    display: flex;
    flex-direction: column;
    background-color: black;
    color:white;
    width: 20%;
    a{
        color: white;
        text-decoration: none;
        margin: 10px auto;
    }
}
.prContainer{
    width: 70%;
}