.mConatianer{
    /*background-color: red;*/
    display: flex;
}
.lContainer{
    background-color: black;
    color: white;
    width: 30%;
}
.rContainer{
    background-color: black;
    color: white;
    display: flex;
    width: 70%;
    a{
        color:white;
        text-decoration: none;
        margin:10px auto;
    }

}